<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.betalist.com.search</string>
	<key>connections</key>
	<dict>
		<key>82A57BDD-69AE-4FDA-B05A-CC629ACF9B4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46EC9A56-AD6D-4518-9A92-22E817DC0F99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Marc Köhlbrugge</string>
	<key>description</key>
	<string>Search BetaList for startups</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BetaList</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>beta</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>ruby startups.rb "{query}"</string>
				<key>title</key>
				<string>Search for startups…</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>82A57BDD-69AE-4FDA-B05A-CC629ACF9B4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>46EC9A56-AD6D-4518-9A92-22E817DC0F99</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>46EC9A56-AD6D-4518-9A92-22E817DC0F99</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>82A57BDD-69AE-4FDA-B05A-CC629ACF9B4D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>betalist.com</string>
</dict>
</plist>
